// Base colors | Base font color when color used as bg
$black0: #000000 !default;       $black0-font: #ffffff !default;
$black: #161616 !default;        $black-font: #ffffff !default;
$white: #f2f2f2 !default;        $white-font: $black !default;
$white0: #ffffff !default;       $white0-font: $black0 !default;
$dark-gray: #333333 !default;    $dark-gray-font: $white !default;
$medium-gray: #777777 !default;  $medium-gray-font: $white !default;
$light-gray: #dddddd !default;   $light-gray-font: $black !default;
$pink: #F96793 !default;         $pink-font: $white !default;
$magenta: #E533A2 !default;      $magenta-font: $white !default;
$purple: #B133E5 !default;       $purple-font: $white !default;
$indigo: #4A53CC !default;       $indigo-font: $white !default;
$blue: #005F94 !default;         $blue-font: $white !default;
$cyan: #4EDDDD !default;         $cyan-font: $black !default;
$green: #5EB546 !default;        $green-font: $white !default;
$lime: #BCD631 !default;         $lime-font: $black !default;
$yellow: #FEEA3F !default;       $yellow-font: $black !default;
$orange: #FF9800 !default;       $orange-font: $black !default;
$red-orange: #F26722 !default;   $red-orange-font: $white !default;
$red: #DD1F1F !default;          $red-font: $white !default;


// Action colors
$primary-color: $blue !default;                       $primary-color-font: $white !default;
$secondary-color: mix(#000, $primary-color, 50%) !default; $secondary-color-font: $white !default;
$default-color: #555555 !default;                       $default-color-font: $white !default;
$success-color: mix($green, $black, 85%) !default;      $success-color-font: $white !default;
$error-color: mix($red, $black, 85%) !default;          $error-color-font: $white !default;
$warning-color: mix($yellow, $black, 85%) !default;     $warning-color-font: $white !default;
$info-color: mix($blue, $black, 85%) !default;          $info-color-font: $white !default;


// Colors array. Used in color loop.
// (
//      name,
//      color,
//      fontcolor,
//      hovercolor,
// );
$colors:

    (
        'success',
        $success-color,
        $success-color-font,
        darken($success-color, 15%),
        $success-color-font
    ),
    (
        'error',
        $error-color,
        $error-color-font,
        darken($error-color, 15%),
        $error-color-font
    ),
    (
        'warning',
        $warning-color,
        $warning-color-font,
        darken($warning-color, 15%),
        $warning-color-font
    ),
    (
        'info',
        $info-color,
        $info-color-font,
        darken($info-color, 15%),
        $info-color-font
    ),








    (
        'primary',
        $primary-color,
        $primary-color-font,
        lighten($primary-color, 15%),
        $primary-color-font
    ),
    (
        'secondary',
        $secondary-color,
        $secondary-color-font,
        lighten($secondary-color, 15%),
        $secondary-color-font
    ),
    (
        'default',
        $default-color,
        $default-color-font,
        lighten($default-color, 15%),
        $default-color-font
    ),







    (
        'black0',
        $black0,
        $black0-font,
        lighten($black0, 15%),
        lighten($black0-font, 15%)
    ),
    (
        'black',
        $black,
        $black-font,
        lighten($black, 15%),
        lighten($black-font, 15%)
    ),
    (
        'white',
        $white,
        $white-font,
        darken($white, 15%),
        darken($white-font, 15%),
    ),
    (
        'white0',
        $white0,
        $white0-font,
        darken($white0, 15%),
        darken($white0-font, 15%)
    ),
    (
        'dark-gray',
        $dark-gray,
        $dark-gray-font,
        lighten($dark-gray, 15%),
        lighten($dark-gray-font, 15%),
    ),
    (
        'medium-gray',
        $medium-gray,
        $medium-gray-font,
        lighten($medium-gray, 15%),
        lighten($medium-gray-font, 15%),
    ),
    (
        'light-gray',
        $light-gray,
        $light-gray-font,
        darken($light-gray, 15%),
        darken($light-gray-font, 15%),
    ),







    (
        'pink',
        $pink,
        mix($pink-font, #fff, 30%),
        darken($pink, 15%),
        $pink-font
    ),
    (
        'magenta',
        $magenta,
        mix($magenta-font, #fff, 30%),
        lighten($magenta, 15%),
        $magenta-font
    ),
    (
        'purple',
        $purple,
        mix($purple-font, #fff, 30%),
        lighten($purple, 15%),
        $purple-font
    ),
    (
        'indigo',
        $indigo,
        mix($indigo-font, #fff, 30%),
        lighten($indigo, 15%),
        $indigo-font
    ),
    (
        'blue',
        $blue,
        mix($blue-font, #fff, 30%),
        lighten($blue, 15%),
        $blue-font
    ),
    (
        'cyan',
        $cyan,
        mix($cyan-font, #000, 30%),
        lighten($cyan, 15%),
        $cyan-font
    ),
    (
        'green',
        $green,
        mix($green-font, #fff, 30%),
        lighten($green, 15%),
        $green-font
    ),
    (
        'lime',
        $lime,
        mix($lime-font, #000, 30%),
        lighten($lime, 15%),
        $lime-font
    ),
    (
        'yellow',
        $yellow,
        mix($yellow-font, #000, 30%),
        lighten($yellow, 15%),
        $yellow-font
    ),
    (
        'orange',
        $orange,
        mix($orange-font, #000, 30%),
        lighten($orange, 15%),
        $orange-font
    ),
    (
        'red-orange',
        $red-orange,
        mix($red-orange-font, #fff, 30%),
        lighten($red-orange, 15%),
        $red-orange-font
    ),
    (
        'red',
        $red,
        mix($red-font, #fff, 30%),
        lighten($red, 15%),
        $red-font
    )
;















