// Determines font sizes, spacing, and more
$base-scale: 16 !default;

// Breakpoints raw numbers
$mobile: 600 !default;
$tablet: 900 !default;
$laptop: 1200 !default;
$desktop: 1400 !default;
$hd: 1700 !default;

// Breakpoints pixelated
$mobile-screen: unquote("#{$mobile}px");
$tablet-screen: unquote("#{$tablet}px");
$laptop-screen: unquote("#{$laptop}px");
$desktop-screen: unquote("#{$desktop}px");
$hd-screen: unquote("#{$hd}px");

// Universal max-width
$max-width: $laptop-screen !default;

// Typography
$font-url: 'https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700';
@import url($font-url);

$font-family: 'Ubuntu Mono', monospace !default;
$heading-font-family: $font-family !default;

// Font Sizes
$font-size: $base-scale * 1px !default;

// Line height
$line-height: 1.25 !default;
$heading-line-height: 1.5 !default;

// Other Sizes
$border-radius: 5px !default;
$spacing: $line-height * $font-size !default;
$sm-spacing: $spacing / 2 !default;
$z-index: 0 !default;

// Font Color
$font-color: $dark-gray !default;

// Headings
$heading-color: mix($dark-gray, $primary-color, 50%) !default;

// Border
$border-width: 1px !default;
$border-style: solid !default;
$border-color: $white !default;
$border: $border-width $border-style $border-color !default;

// Background Colors
$background-color: $white0 !default;
$secondary-background-color: $dark-gray !default;

// Animations
$duration: 150ms !default;
$timing: ease-in-out !default;

// Sizes
$xs: 0.25 * $font-size !default;
$sm: 0.5 * $font-size !default;
$md: 1 * $font-size !default;
$lg: 1.25 * $font-size !default;
$xl: 2 * $font-size !default;


