
/**
 * Color Loop
 *
 * This function loops through code
 */


$c: '';

@each $i in $colors {

    $name: nth($i, 1);
    $color: nth($i, 2);
    $font: nth($i, 3);
    $hover: nth($i, 4);
    $font-hover: nth($i, 5);

    $c: $c + $name + ',' + $color + ',' + $font + ',' + $hover + ',' + $font-hover + '|';

    .#{$name}-bg {

        background-color: $color;
        color: $font;
    }

    .#{$name}-light-bg {

        background-color: mix(#fff, $color, 80%);
        color: $color;
    }

    .#{$name}-text {

        color: $color;
    }

    .#{$name}-border {

        border-color: $color;
    }

    a.#{$name} {

        @include link-color($color, $hover);
    }

    a.#{$name}-bg {

        @include link-background-color($color, $font, $hover, $font-hover);
    }

    .button,
    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {

        &.#{$name} {

            @include button-color($color, $font, $border, $hover, $font-hover, $hover);
        }
    }

}


// Send colors to javascript
.colors {

    content: $c;
}
