.overflow   { overflow: auto; }
.overflow-x { overflow-x: auto; }
.overflow-y { overflow-y: auto; }

.overflow-hidden   { overflow: hidden; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-hidden { overflow-y: hidden; }

.clearfix { &, &:before, &:after { clear: both; } }

.valign-t { vertical-align: top;}
.valign-m { vertical-align: middle;}
.valign-b { vertical-align: bottom;}

.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }

.top-0 { top: 0; } .bottom-0 { bottom: 0; } .left-0 { left: 0; } .right-0 { right: 0; }
.top-10 { top: 10%; } .bottom-10 { bottom: 10%; } .left-10 { left: 10%; } .right-10 { right: 10%; }
.top-20 { top: 20%; } .bottom-20 { bottom: 20%; } .left-20 { left: 20%; } .right-20 { right: 20%; }
.top-30 { top: 30%; } .bottom-30 { bottom: 30%; } .left-30 { left: 30%; } .right-30 { right: 30%; }
.top-40 { top: 40%; } .bottom-40 { bottom: 40%; } .left-40 { left: 40%; } .right-40 { right: 40%; }
.top-50 { top: 50%; } .bottom-50 { bottom: 50%; } .left-50 { left: 50%; } .right-50 { right: 50%; }
.top-60 { top: 60%; } .bottom-60 { bottom: 60%; } .left-60 { left: 60%; } .right-60 { right: 60%; }
.top-70 { top: 70%; } .bottom-70 { bottom: 70%; } .left-70 { left: 70%; } .right-70 { right: 70%; }
.top-80 { top: 80%; } .bottom-80 { bottom: 80%; } .left-80 { left: 80%; } .right-80 { right: 80%; }
.top-90 { top: 90%; } .bottom-90 { bottom: 90%; } .left-90 { left: 90%; } .right-90 { right: 90%; }
.top-100 { top: 100%; } .bottom-100 { bottom: 100%; } .left-100 { left: 100%; } .right-100 { right: 100%; }

.top-5px { top: 5px; } .bottom-5px { bottom: 5px; } .left-5px { left: 5px; } .right-5px { right: 5px; }
.top-10px { top: 10px; } .bottom-10px { bottom: 10px; } .left-10px { left: 10px; } .right-10px { right: 10px; }
.top-15px { top: 15px; } .bottom-15px { bottom: 15px; } .left-15px { left: 15px; } .right-15px { right: 15px; }
.top-20px { top: 20px; } .bottom-20px { bottom: 20px; } .left-20px { left: 20px; } .right-20px { right: 20px; }
.top-30px { top: 30px; } .bottom-30px { bottom: 30px; } .left-30px { left: 30px; } .right-30px { right: 30px; }
.top-40px { top: 40px; } .bottom-40px { bottom: 40px; } .left-40px { left: 40px; } .right-40px { right: 40px; }
.top-50px { top: 50px; } .bottom-50px { bottom: 50px; } .left-50px { left: 50px; } .right-50px { right: 50px; }
.top-100px { top: 100px; } .bottom-100px { bottom: 100px; } .left-100px { left: 100px; } .right-100px { right: 100px; }
.top-300px { top: 300px; } .bottom-300px { bottom: 300px; } .left-300px { left: 300px; } .right-300px { right: 300px; }

.pos-t { top: 0; left: 0; right: 0; }
.pos-b { bottom: 0; left: 0; right: 0; }
.pos-l { top: 0; bottom: 0; left: 0; }
.pos-r { top: 0; bottom: 0; right: 0; }

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.z5 { z-index: 5; }
.z10 { z-index: 10; }
.z20 { z-index: 20; }
.z30 { z-index: 30; }
.z99 { z-index: 99; }
.z999 { z-index: 999; }
.z9999 { z-index: 9999; }


.hide { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }

.float-left { float: left; }
.float-right { float: right; }

.centered { margin-left: auto; margin-right: auto; }

