
.box-shadow {

    &.dark {
        box-shadow: 0 0 $md 0 rgba($black0, 0.5);

        &.glow-xs { box-shadow: 0 0 $xs 0 rgba($black0, 0.5); }
        &.glow-sm { box-shadow: 0 0 $sm 0 rgba($black0, 0.5); }
        &.glow-md { box-shadow: 0 0 $md 0 rgba($black0, 0.5); }
        &.glow-lg { box-shadow: 0 0 $lg 0 rgba($black0, 0.5); }
        &.glow-xl { box-shadow: 0 0 $xl 0 rgba($black0, 0.5); }
    }

    &.light {
        box-shadow: 0 0 $md 0 rgba($white0, 0.5);

        &.glow-xs { box-shadow: 0 0 $xs 0 rgba($white0, 0.5); }
        &.glow-sm { box-shadow: 0 0 $sm 0 rgba($white0, 0.5); }
        &.glow-md { box-shadow: 0 0 $md 0 rgba($white0, 0.5); }
        &.glow-lg { box-shadow: 0 0 $lg 0 rgba($white0, 0.5); }
        &.glow-xl { box-shadow: 0 0 $xl 0 rgba($white0, 0.5); }
    }
}

.text-shadow {

    &.dark {
        text-shadow: 1px 1px $md rgba($black0, 0.5);

        &.hard { text-shadow: 1px 1px 0 rgba($black0, 0.5); }
        &.soft { text-shadow: 1px 1px 3px rgba($black0, 0.5); }
        &.softer { text-shadow: 1px 1px 5px rgba($black0, 0.5); }

    }

    &.light {
        text-shadow: 1px 1px $md rgba($white0, 0.5);

        &.hard { text-shadow: 1px 1px 0 rgba($white0, 0.5); }
        &.soft { text-shadow: 1px 1px 3px rgba($white0, 0.5); }
        &.softer { text-shadow: 1px 1px 5px rgba($white0, 0.5); }

    }
}
