
// Spacing
.margin-xs { margin: $xs; }
.margin-sm { margin: $sm; }
.margin-md { margin: $md; }
.margin-lg { margin: $lg; }
.margin-xl { margin: $xl; }

.margin-l-xs { margin-left: $xs; }
.margin-l-sm { margin-left: $sm; }
.margin-l-md { margin-left: $md; }
.margin-l-lg { margin-left: $lg; }
.margin-l-xl { margin-left: $xl; }

.margin-r-xs { margin-right: $xs; }
.margin-r-sm { margin-right: $sm; }
.margin-r-md { margin-right: $md; }
.margin-r-lg { margin-right: $lg; }
.margin-r-xl { margin-right: $xl; }

.margin-b-xs { margin-bottom: $xs; }
.margin-b-sm { margin-bottom: $sm; }
.margin-b-md { margin-bottom: $md; }
.margin-b-lg { margin-bottom: $lg; }
.margin-b-xl { margin-bottom: $xl; }

.margin-t-xs { margin-top: $xs; }
.margin-t-sm { margin-top: $sm; }
.margin-t-md { margin-top: $md; }
.margin-t-lg { margin-top: $lg; }
.margin-t-xl { margin-top: $xl; }

.margin-tb-xs { margin-top: $xs; margin-bottom: $xs; }
.margin-tb-sm { margin-top: $sm; margin-bottom: $sm; }
.margin-tb-md { margin-top: $md; margin-bottom: $md; }
.margin-tb-lg { margin-top: $lg; margin-bottom: $lg; }
.margin-tb-xl { margin-top: $xl; margin-bottom: $xl; }

.margin-lr-xs { margin-left: $xs; margin-right: $xs; }
.margin-lr-sm { margin-left: $sm; margin-right: $sm; }
.margin-lr-md { margin-left: $md; margin-right: $md; }
.margin-lr-lg { margin-left: $lg; margin-right: $lg; }
.margin-lr-xl { margin-left: $xl; margin-right: $xl; }


.padding-xs { padding: $xs; }
.padding-sm { padding: $sm; }
.padding-md { padding: $md; }
.padding-lg { padding: $lg; }
.padding-xl { padding: $xl; }

.padding-l-xs { padding-left: $xs; }
.padding-l-sm { padding-left: $sm; }
.padding-l-md { padding-left: $md; }
.padding-l-lg { padding-left: $lg; }
.padding-l-xl { padding-left: $xl; }

.padding-r-xs { padding-right: $xs; }
.padding-r-sm { padding-right: $sm; }
.padding-r-md { padding-right: $md; }
.padding-r-lg { padding-right: $lg; }
.padding-r-xl { padding-right: $xl; }

.padding-b-xs { padding-bottom: $xs; }
.padding-b-sm { padding-bottom: $sm; }
.padding-b-md { padding-bottom: $md; }
.padding-b-lg { padding-bottom: $lg; }
.padding-b-xl { padding-bottom: $xl; }

.padding-t-xs { padding-top: $xs; }
.padding-t-sm { padding-top: $sm; }
.padding-t-md { padding-top: $md; }
.padding-t-lg { padding-top: $lg; }
.padding-t-xl { padding-top: $xl; }

.padding-tb-xs { padding-top: $xs; padding-bottom: $xs; }
.padding-tb-sm { padding-top: $sm; padding-bottom: $sm; }
.padding-tb-md { padding-top: $md; padding-bottom: $md; }
.padding-tb-lg { padding-top: $lg; padding-bottom: $lg; }
.padding-tb-xl { padding-top: $xl; padding-bottom: $xl; }

.padding-lr-xs { padding-left: $xs; padding-right: $xs; }
.padding-lr-sm { padding-left: $sm; padding-right: $sm; }
.padding-lr-md { padding-left: $md; padding-right: $md; }
.padding-lr-lg { padding-left: $lg; padding-right: $lg; }
.padding-lr-xl { padding-left: $xl; padding-right: $xl; }


.margin-none { margin: 0; }
.margin-l-none { margin-left: 0; }
.margin-r-none { margin-right: 0; }
.margin-b-none { margin-bottom: 0; }
.margin-t-none { margin-top: 0; }
.margin-tb-none { margin-top: 0; margin-bottom: 0; }
.margin-lr-none { margin-left: 0; margin-right: 0; }
.padding-none { padding: 0; }
.padding-l-none { padding-left: 0; }
.padding-r-none { padding-right: 0; }
.padding-b-none { padding-bottom: 0; }
.padding-t-none { padding-top: 0; }
.padding-tb-none { padding-top: 0; padding-bottom: 0; }
.padding-lr-none { padding-left: 0; padding-right: 0; }
