/**
 * Typography
 */

body {
    color: $font-color;
    background: $background-color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
}

h1 { font-size: $xl + 10; }
h2 { font-size: $lg + 10; }
h3 { font-size: $md + 10; }
h4 { font-size: $sm + 10; }
h5 { font-size: $xs + 10; }
h6 { font-size: $xs + 10; }

h1,h2,h3,h4,h5,h6 {
    font-family: $heading-font-family;
    font-weight: bold;
    line-height: $heading-line-height;
    margin: 0 0 $sm-spacing;
    color: $heading-color;

    &.sub-title, small {
        font-weight: normal;
        color: darken($heading-color, 15%);
    }
}

form { h1,h2,h3,h4,h5,h6 { margin: 0; } }

small {
    font-size: 0.7em;
    line-height: 1rem;
    font-weight: normal;
}

p {
    margin: 0 0 $md;
}

a {
    transition: all $timing $duration;
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
        color: darken($primary-color, 15%);
    }

    &:active,
    &:focus {
        outline: none;
    }
}

hr {
    border-bottom: $border;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $spacing 0;

}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

sm {
    font-size: 0.7rem;
}


strong, b { font-weight: bolder; }
em, i:not(.fa) { font-style: italic; }

