/**
 * Mixins
 */
@mixin link-color($color, $color-hover) {
    color: $color;
    &:hover, &:focus, &:active {
        color: $color-hover;
    }
    &:disabled {
        color: desaturate($color, 30%);
    }
}

@mixin link-background-color($background, $font, $background-hover, $font-hover) {
    color: $font;
    background-color: $background;

    &:hover, &:focus, &:active {
        color: $font-hover;
        background-color: $background-hover;
    }
    &:disabled {
        color: desaturate($font, 30%);
        background-color: desaturate($background, 30%);
        cursor: not-allowed;
    }
}


@mixin button-color($color, $font, $hover, $font-hover) {

    background-color: $color;
    border-color: $color;
    border-width: $font-size/4;
    color: $font;

    &.selected, &.checked, &:hover, &:focus {
        background-color: $hover;
        border-color: $hover;
        color: $font-hover;
    }

    &.hollow {
        background-color: transparent;
        color: $color;
        border-color: $color;

        &.selected, &.checked, &:hover, &:focus {
            background-color: $color;
            color: $font;
        }
    }
}


@mixin button-spacing($x, $y, $font) {
  padding: $spacing*$x $spacing*$y;
  font-size: $font-size*$font;
}


