// Scaling Variables
$golden:           1.618;
$minor-second:     1.067;
$major-second:     1.125;
$minor-third:      1.2;
$major-third:      1.25;
$perfect-fourth:   1.333;
$augmented-fourth: 1.414;
$perfect-fifth:    1.5;
$minor-sixth:      1.6;
$major-sixth:      1.667;
$minor-seventh:    1.778;
$major-seventh:    1.875;
$octave:           2;
$major-tenth:      2.5;
$major-eleventh:   2.667;
$major-twelfth:    3;
$double-octave:    4;

$modular-scale: $golden;
$base-scale: 16;

// Typography
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700');
$font-family: 'Ubuntu Mono', monospace;
$heading-font-family: $font-family;

// Font Sizes
$font-size: $base-scale * 1px;

// Line height
$line-height: 1.25;
$heading-line-height: 1.5;

// Other Sizes
$border-radius: 5px;
$spacing: $line-height * $font-size;
$small-spacing: $spacing / 2;
$z-index: 0;

// Font Colors
$font-color: $medium-gray;

// Headings
$heading-color: $dark-gray;

// Border
$border-width: 1px;
$border-style: solid;
$border-color: $white;
$border: $border-width $border-style $border-color;

// Background Colors
$background-color: $white0;
$secondary-background-color: $dark-gray;

// Animations
$duration: 150ms;
$timing: ease-in-out;

// Sizes
$tiny: 0.25 * $base-scale/10;
$small: 0.5 * $base-scale/10;
$medium: 0.75 * $base-scale/10;
$large: 1 * $base-scale/10;
$huge: 1.5 * $base-scale/10;


