
.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {

    display: inline-block;
    appearance: none;
    border: 1px solid;
    border-radius: $border-radius;
    cursor: pointer;
    font-family: $font-family;
    font-size: $font-size;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    transition: all $duration $timing;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    @include button-spacing($medium * 0.25, $medium, 1);
    @include button-color($primary-color, $primary-color-font);

    &.tiny { @include button-spacing($tiny * 0.25, $tiny, 0.8); }
    &.small { @include button-spacing($small * 0.25, $small, 1); }
    &.large { @include button-spacing($large * 0.25, $large, 1.25); }
    &.huge { @include button-spacing($huge * 0.25, $huge, 1.5); }

    &.tiny-icon { @include button-spacing($tiny, $tiny, 0.8); }
    &.small-icon { @include button-spacing($small, $small, 1); }
    &.large-icon { @include button-spacing($large, $large, 1.25); }
    &.huge-icon { @include button-spacing($huge, $huge, 1.5); }

}
