// Base colors | Base font color when color used as bg
$black0: #000000;       $black0-font: #ffffff;
$black: #161616;        $black-font: #ffffff;
$white: #f2f2f2;        $white-font: $black;
$white0: #ffffff;       $white0-font: $black0;
$dark-gray: #333333;    $dark-gray-font: $white;
$medium-gray: #777777;  $medium-gray-font: $white;
$light-gray: #dddddd;   $light-gray-font: $black;
$pink: #F96793;         $pink-font: mix($pink, $white, 30%);
$magenta: #E533A2;      $magenta-font: mix($magenta, $white, 30%);
$purple: #B133E5;       $purple-font: mix($purple, $white, 30%);
$indigo: #4A53CC;       $indigo-font: mix($indigo, $white, 30%);
$blue: #005F94;         $blue-font: mix($blue, $white, 30%);
$cyan: #4EDDDD;         $cyan-font: mix($cyan, $black, 30%);
$green: #5EB546;        $green-font: mix($green, $white, 30%);
$lime: #BCD631;         $lime-font: mix($lime, $black, 30%);
$yellow: #FEEA3F;       $yellow-font: mix($yellow, $black, 30%);
$orange: #FF9800;       $orange-font: mix($orange, $black, 30%);
$red-orange: #F26722;   $red-orange-font: mix($red-orange, $white, 30%);
$red: #DD1F1F;          $red-font: mix($red, $white, 30%);


// Action colors
$primary-color: #EF3B3A;        $primary-color-font: $white;
$secondary-color: $dark-gray;   $secondary-color-font: $white;
$default-color: $medium-gray;   $default-color-font: $white;

$success-color: mix($green, $black, 85%);   $success-color-font: $white;
$error-color: mix($red, $black, 85%);       $error-color-font: $white;
$warning-color: mix($yellow, $black, 85%);  $warning-color-font: $white;
$info-color: mix($blue, $black, 85%);       $info-color-font: $white;

.black-bg { background-color: $black; color: $black-font; }
.white-bg { background-color: $white; color: $white-font; }
.black0-bg { background-color: $black0; color: $black0-font; }
.white0-bg { background-color: $white0; color: $white0-font; }
.dark-gray-bg { background-color: $dark-gray; color: $dark-gray-font; }
.medium-gray-bg { background-color: $medium-gray; color: $medium-gray-font; }
.light-gray-bg { background-color: $light-gray; color: $light-gray-font; }
.red-bg { background-color: $red; color: $red-font; }
.pink-bg { background-color: $pink; color: $pink-font; }
.purple-bg { background-color: $purple; color: $purple-font; }
.magenta-bg { background-color: $magenta; color: $magenta-font; }
.indigo-bg { background-color: $indigo; color: $indigo-font; }
.blue-bg { background-color: $blue; color: $blue-font; }
.cyan-bg { background-color: $cyan; color: $cyan-font; }
.green-bg { background-color: $green; color: $green-font; }
.lime-bg { background-color: $lime; color: $lime-font; }
.yellow-bg { background-color: $yellow; color: $yellow-font; }
.orange-bg { background-color: $orange; color: $orange-font; }
.red-orange-bg { background-color: $red; color: $red-font; }
.primary-bg { background-color: $primary-color; color: $primary-color-font; }
.secondary-bg { background-color: $secondary-color; color: $secondary-color-font; }
.default-bg { background-color: $default-color; color: $default-color-font; }
.success-bg { background-color: $success-color; color: $success-color-font; }
.error-bg { background-color: $error-color; color: $error-color-font; }
.warning-bg { background-color: $warning-color; color: $warning-color-font; }
.info-bg { background-color: $info-color; color: $info-color-font; }

.black-border { border-color: $black; }
.white-border { border-color: $white; }
.black0-border { border-color: $black0; }
.white0-border { border-color: $white0; }
.dark-gray-border { border-color: $dark-gray; }
.medium-gray-border { border-color: $medium-gray; }
.light-gray-border { border-color: $light-gray; }
.red-border { border-color: $red; }
.pink-border { border-color: $pink; }
.purple-border { border-color: $purple; }
.magenta-border { border-color: $magenta; }
.indigo-border { border-color: $indigo; }
.blue-border { border-color: $blue; }
.cyan-border { border-color: $cyan; }
.green-border { border-color: $green; }
.lime-border { border-color: $lime; }
.yellow-border { border-color: $yellow; }
.orange-border { border-color: $orange; }
.red-orange-border { border-color: $red; }
.primary-border { border-color: $primary-color; }
.secondary-border { border-color: $secondary-color; }
.default-border { border-color: $default-color; }
.success-border { border-color: $success-color; }
.error-border { border-color: $error-color; }
.warning-border { border-color: $warning-color; }
.info-border { border-color: $info-color; }

.black-text { color: $black; }
.white-text { color: $white; }
.black0-text { color: $black0; }
.white0-text { color: $white0; }
.dark-gray-text { color: $dark-gray; }
.medium-gray-text { color: $medium-gray; }
.light-gray-text { color: $light-gray; }
.red-text { color: $red; }
.pink-text { color: $pink; }
.purple-text { color: $purple; }
.magenta-text { color: $magenta; }
.indigo-text { color: $indigo; }
.blue-text { color: $blue; }
.cyan-text { color: $cyan; }
.green-text { color: $green; }
.lime-text { color: $lime; }
.yellow-text { color: $yellow; }
.orange-text { color: $orange; }
.red-orange-text { color: $red; }
.primary-text { color: $primary-color; }
.secondary-text { color: $secondary-color; }
.default-text { color: $default-color; }
.success-text { color: $success-color; }
.error-text { color: $error-color; }
.warning-text { color: $warning-color; }
.info-text { color: $info-color; }
