/**
 * Grids module
 * Uses a multitude of layout mixins and utility classes
 */

@import 'grids/variables';
@import 'grids/mixins';

// To keep our grids contained
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Columns applicable to all screens
.grid-columns {
    @extend %gridreset;
    & > [class*='column'] { @extend %griditem; }
    @include gridcolumns('');
}

// Grids applicable to all screens
.grid-items {
    @extend %gridreset;
    & > .item { @extend %griditem; }
    @include griditems('');
    & > .grid {
        @extend %gridreset;
        & > .item { @extend %griditem; }
        @include griditems('');
    }
}

// Reset hide elements per screen
@include display-elements-reset('mobile-');
@include display-elements-reset('tablet-');
@include display-elements-reset('laptop-');
@include display-elements-reset('desktop-');
@include display-elements-reset('hd-');

// Declare hide element globally
@include display-hide-elements('');
@include display-only-elements('');
@include display-show-elements('');

// Grid overrides per device
// Includes columns, grid, and hide elements
@include mobile-screen {
    $prefix: 'mobile-';
    @include display-hide-elements($prefix);
    @include display-only-elements($prefix);
    @include display-show-elements($prefix);

    @include display-show-elements('#{$prefix}up-');

    .grid-columns { @include gridcolumns($prefix); }
    .grid-items { @include griditems($prefix); }
}
@include tablet-screen {
    $prefix: 'tablet-';
    @include display-hide-elements($prefix);
    @include display-only-elements($prefix);
    @include display-show-elements($prefix);

    @include display-show-elements('mobile-up-');
    @include display-show-elements('#{$prefix}up-');

    .grid-columns { @include gridcolumns($prefix); }
    .grid-items { @include griditems($prefix); }
}
@include laptop-screen {
    $prefix: 'laptop-';
    @include display-hide-elements($prefix);
    @include display-only-elements($prefix);
    @include display-show-elements($prefix);

    @include display-show-elements('mobile-up-');
    @include display-show-elements('tablet-up-');
    @include display-show-elements('#{$prefix}up-');

    .grid-columns { @include gridcolumns($prefix); }
    .grid-items { @include griditems($prefix); }
}
@include desktop-screen {
    $prefix: 'desktop-';
    @include display-hide-elements($prefix);
    @include display-only-elements($prefix);
    @include display-show-elements($prefix);

    @include display-show-elements('mobile-up-');
    @include display-show-elements('tablet-up-');
    @include display-show-elements('laptop-up-');
    @include display-show-elements('#{$prefix}up-');

    .grid-columns { @include gridcolumns($prefix); }
    .grid-items { @include griditems($prefix); }
}
@include hd-screen {
    $prefix: 'hd-';
    @include display-hide-elements($prefix);
    @include display-only-elements($prefix);
    @include display-show-elements($prefix);

    @include display-show-elements('mobile-up-');
    @include display-show-elements('tablet-up-');
    @include display-show-elements('laptop-up-');
    @include display-show-elements('desktop-up-');

    .grid-columns { @include gridcolumns($prefix); }
    .grid-items { @include griditems($prefix); }
}

