// Text
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.uppercase { text-transform: uppercase; }


// Sizing and positioning
.expand   { width: 100%; height: 100%; }
.expand-x { width:  100%; }
.expand-y { height: 100%; }

.overflow   { overflow: auto; }
.overflow-x { overflow-x: auto; }
.overflow-y { overflow-y: auto; }

.overflow-hidden   { overflow: hidden; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-hidden { overflow-y: hidden; }

.clearfix { &, &:before, &:after { clear: both; } }

.valign-top { vertical-align: top;}
.valign-middle { vertical-align: middle;}
.valign-bottom { vertical-align: bottom;}

.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }

.display-none, .hide { display: none; }
.display-block, .show { display: block; }
.display-inline-block, .show-inline-block { display: inline-block; }
.display-inline, .show-inline { display: inline; }

.float-left { float: left; }
.float-right { float: right; }

.element-center { margin-left: auto; margin-right: auto; }


.border { border-width: $border-width; border-style: $border-style; }

.border-solid { border-style: solid; }
.border-dashed { border-style: dashed; }
.border-dotted { border-style: dotted; }

.border-x1 { border-width: 1px; }
.border-x2 { border-width: 2px; }
.border-x3 { border-width: 3px; }
.border-x4 { border-width: 4px; }
.border-x5 { border-width: 5px; }

// Border radius
.border-radius { border-radius: $border-radius; }
.border-radius-x2 { border-radius: $border-radius*2; }
.border-radius-x3 { border-radius: $border-radius*3; }
.border-radius-x4 { border-radius: $border-radius*4; }
.border-radius-x5 { border-radius: $border-radius*5; }

.attach-bottom {
    border-top-left-radius:  0;
    border-top-right-radius:  0;
}
.attach-top {
    border-bottom-left-radius:  0;
    border-bottom-right-radius:  0;
}
.attach-left {
    border-bottom-right-radius:  0;
    border-top-right-radius:  0;
}
.attach-right {
    border-bottom-left-radius:  0;
    border-top-left-radius:  0;
}
.attach-top-right {
    border-bottom-right-radius:  0;
    border-bottom-left-radius:  0;
    border-top-left-radius:  0;
}
.attach-top-left {
    border-bottom-right-radius:  0;
    border-bottom-left-radius:  0;
    border-top-right-radius:  0;
}
.attach-bottom-right {
    border-top-right-radius:  0;
    border-top-left-radius:  0;
    border-bottom-left-radius:  0;
}
.attach-bottom-left {
    border-top-right-radius:  0;
    border-top-left-radius:  0;
    border-bottom-right-radius:  0;
}

.border-radius-none {
    border-radius: 0;
}

// Spacing
.margin-tiny { margin: $tiny * $spacing; }
.margin-small { margin: $small * $spacing; }
.margin-medium { margin: $medium * $spacing; }
.margin-large { margin: $large * $spacing; }
.margin-huge { margin: $huge * $spacing; }

.margin-left-tiny { margin-left: $tiny * $spacing; }
.margin-left-small { margin-left: $small * $spacing; }
.margin-left-medium { margin-left: $medium * $spacing; }
.margin-left-large { margin-left: $large * $spacing; }
.margin-left-huge { margin-left: $huge * $spacing; }

.margin-right-tiny { margin-right: $tiny * $spacing; }
.margin-right-small { margin-right: $small * $spacing; }
.margin-right-medium { margin-right: $medium * $spacing; }
.margin-right-large { margin-right: $large * $spacing; }
.margin-right-huge { margin-right: $huge * $spacing; }

.margin-bottom-tiny { margin-bottom: $tiny * $spacing; }
.margin-bottom-small { margin-bottom: $small * $spacing; }
.margin-bottom-medium { margin-bottom: $medium * $spacing; }
.margin-bottom-large { margin-bottom: $large * $spacing; }
.margin-bottom-huge { margin-bottom: $huge * $spacing; }

.margin-top-tiny { margin-top: $tiny * $spacing; }
.margin-top-small { margin-top: $small * $spacing; }
.margin-top-medium { margin-top: $medium * $spacing; }
.margin-top-large { margin-top: $large * $spacing; }
.margin-top-huge { margin-top: $huge * $spacing; }


.padding-tiny { padding: $tiny * $spacing; }
.padding-small { padding: $small * $spacing; }
.padding-medium { padding: $medium * $spacing; }
.padding-large { padding: $large * $spacing; }
.padding-huge { padding: $huge * $spacing; }

.padding-left-tiny { padding-left: $tiny * $spacing; }
.padding-left-small { padding-left: $small * $spacing; }
.padding-left-medium { padding-left: $medium * $spacing; }
.padding-left-large { padding-left: $large * $spacing; }
.padding-left-huge { padding-left: $huge * $spacing; }

.padding-right-tiny { padding-right: $tiny * $spacing; }
.padding-right-small { padding-right: $small * $spacing; }
.padding-right-medium { padding-right: $medium * $spacing; }
.padding-right-large { padding-right: $large * $spacing; }
.padding-right-huge { padding-right: $huge * $spacing; }

.padding-bottom-tiny { padding-bottom: $tiny * $spacing; }
.padding-bottom-small { padding-bottom: $small * $spacing; }
.padding-bottom-medium { padding-bottom: $medium * $spacing; }
.padding-bottom-large { padding-bottom: $large * $spacing; }
.padding-bottom-huge { padding-bottom: $huge * $spacing; }

.padding-top-tiny { padding-top: $tiny * $spacing; }
.padding-top-small { padding-top: $small * $spacing; }
.padding-top-medium { padding-top: $medium * $spacing; }
.padding-top-large { padding-top: $large * $spacing; }
.padding-top-huge { padding-top: $huge * $spacing; }


.margin-none { margin: 0; }
.margin-left-none { margin-left: 0; }
.margin-right-none { margin-right: 0; }
.margin-bottom-none { margin-bottom: 0; }
.margin-top-none { margin-top: 0; }
.padding-none { padding: 0; }
.padding-left-none { padding-left: 0; }
.padding-right-none { padding-right: 0; }
.padding-bottom-none { padding-bottom: 0; }
.padding-top-none { padding-top: 0; }

.cursor-auto            { cursor: auto; }
.cursor-default         { cursor: default; }
.cursor-none            { cursor: none; }
.cursor-context-menu    { cursor: context-menu; }
.cursor-help            { cursor: help; }
.cursor-pointer         { cursor: pointer; }
.cursor-progress        { cursor: progress; }
.cursor-wait            { cursor: wait; }
.cursor-cell            { cursor: cell; }
.cursor-crosshair       { cursor: crosshair; }
.cursor-text            { cursor: text; }
.cursor-vertical-text   { cursor: vertical-text; }
.cursor-alias           { cursor: alias; }
.cursor-copy            { cursor: copy; }
.cursor-move            { cursor: move; }
.cursor-no-drop         { cursor: no-drop; }
.cursor-not-allowed     { cursor: not-allowed; }
.cursor-all-scroll      { cursor: all-scroll; }
.cursor-col-resize      { cursor: col-resize; }
.cursor-row-resize      { cursor: row-resize; }
.cursor-n-resize        { cursor: n-resize; }
.cursor-e-resize        { cursor: e-resize; }
.cursor-s-resize        { cursor: s-resize; }
.cursor-w-resize        { cursor: w-resize; }
.cursor-ns-resize       { cursor: ns-resize; }
.cursor-ew-resize       { cursor: ew-resize; }
.cursor-ne-resize       { cursor: ne-resize; }
.cursor-nw-resize       { cursor: nw-resize; }
.cursor-se-resize       { cursor: se-resize; }
.cursor-sw-resize       { cursor: sw-resize; }
.cursor-nesw-resize     { cursor: nesw-resize; }
.cursor-nwse-resize     { cursor: nwse-resize; }
